<div id="<%= dom_id previous_study %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Objeto:</strong>
    <%= previous_study.objeto %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Educacion:</strong>
    <%= previous_study.educacion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Experiencia:</strong>
    <%= previous_study.experiencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor forma pago:</strong>
    <%= previous_study.valor_forma_pago %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Plazo:</strong>
    <%= previous_study.plazo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lugar:</strong>
    <%= previous_study.lugar %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Supervisor:</strong>
    <%= previous_study.supervisor %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ordenador:</strong>
    <%= previous_study.ordenador %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre centro:</strong>
    <%= previous_study.nombre_centro %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Justificacion necesidad contratacion:</strong>
    <%= previous_study.justificacion_necesidad_contratacion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Obligaciones:</strong>
    <%= previous_study.obligaciones %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nivel:</strong>
    <%= previous_study.nivel %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Perfil:</strong>
    <%= previous_study.perfil %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero contratos:</strong>
    <%= previous_study.numero_contratos %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor mes:</strong>
    <%= previous_study.valor_mes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor total contrato:</strong>
    <%= previous_study.valor_total_contrato %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Domicilio contractual:</strong>
    <%= previous_study.domicilio_contractual %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Justificacion valor contrato:</strong>
    <%= previous_study.justificacion_valor_contrato %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contratacion acuerdo comercial:</strong>
    <%= previous_study.contratacion_acuerdo_comercial %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contratacion plan adquisiciones:</strong>
    <%= previous_study.contratacion_plan_adquisiciones %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this previous study", previous_study, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this previous study', edit_previous_study_path(previous_study), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
