<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @previous_study %>

    <%= link_to 'Edit this previous_study', edit_previous_study_path(@previous_study), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this previous_study', previous_study_path(@previous_study), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    <%= link_to 'Generar reporte', "/previous_studies/#{@previous_study.id}.pdf", class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <%= link_to 'Back to previous_studies', previous_studies_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
