<%= form_with(model: health, class: "contents") do |form| %>
  <% if health.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(health.errors.count, "error") %> prohibited this health from being saved:</h2>

      <ul>
        <% health.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :codigo_nit_eps %>
    <%= form.number_field :codigo_nit_eps, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :nombre_eps %>
    <%= form.text_field :nombre_eps, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :telefono_eps %>
    <%= form.number_field :telefono_eps, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :ciudad_eps %>
    <%= form.text_field :ciudad_eps, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :correo_eps %>
    <%= form.text_field :correo_eps, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :cedula_contratista %>
    <%= form.number_field :cedula_contratista, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Enviar", class: "rounded-lg py-3 px-5 bg-blue-600 text-naranja inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
