<div id="<%= dom_id health %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo nit eps:</strong>
    <%= health.codigo_nit_eps %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre eps:</strong>
    <%= health.nombre_eps %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefono eps:</strong>
    <%= health.telefono_eps %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ciudad eps:</strong>
    <%= health.ciudad_eps %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Correo eps:</strong>
    <%= health.correo_eps %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cedula contratista:</strong>
    <%= health.cedula_contratista %>
  </p>

  <% if action_name != "show" %>
  <%= link_to health, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
  <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
  <span
    class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Mostrar
    Eps
    <% end %>
    <%= link_to 'Edit this health', edit_health_path(health), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to edit_health_path(health), class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span
      class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Editar
      Eps
      <% end %>
      <hr class="mt-6">
      <% end %>
</div>
