<div id="<%= dom_id phone %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cedula de contratistas:</strong>
    <%= phone.cedula_de_contratistas %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero de telefono:</strong>
    <%= phone.numero_de_telefono %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Operador:</strong>
    <%= phone.operador %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Activo:</strong>
    <%= phone.activo %>
  </p>

  <% if action_name != "show" %>
  <%= link_to phone, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Mostrar el telefono
  <% end %>
    <%= link_to edit_phone_path(phone), class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Editar telefono
  <% end %>
    <hr class="mt-6">
  <% end %>
</div>
