<div id="<%= dom_id competency_curriculum_design %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Numero competencia:</strong>
    <%= competency_curriculum_design.numero_competencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo diseño curricural:</strong>
    <%= competency_curriculum_design.codigo_diseño_curricural %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this competency curriculum design", competency_curriculum_design, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this competency curriculum design', edit_competency_curriculum_design_path(competency_curriculum_design), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
