<div id="<%= dom_id supervisor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cedula supervisor:</strong>
    <%= supervisor.cedula_supervisor %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= supervisor.nombre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apellido:</strong>
    <%= supervisor.apellido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefono:</strong>
    <%= supervisor.telefono %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Correo:</strong>
    <%= supervisor.correo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cargo:</strong>
    <%= supervisor.cargo %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this supervisor", supervisor, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this supervisor', edit_supervisor_path(supervisor), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
