<h2>Crear Cuenta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Correo_electronico %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Ingresa tu correo electronico" %>
  </div>

  <div class="field">
    <%= f.label :Contrase単a %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Ingresa tu contrase単a" %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_contrase単a %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repite tu contrase単a" %>
  </div>

  <div class="actions">
    <%= f.submit "Crear cuenta" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
