<div id="<%= dom_id contract %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cedula contratista:</strong>
    <%= contract.contractor_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero contrato:</strong>
    <%= contract.numero_contrato %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha contrato:</strong>
    <%= contract.fecha_contrato %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor contrato:</strong>
    <%= contract.valor_contrato %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Objeto contrato:</strong>
    <%= contract.objeto_contrato %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this contract", contract, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this contract', edit_contract_path(contract), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
