<div id="<%= dom_id anexo_plan_contratacion %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Periodo:</strong>
    <%= anexo_plan_contratacion.periodo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Elaborado por:</strong>
    <%= anexo_plan_contratacion.elaborado_por %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefono:</strong>
    <%= anexo_plan_contratacion.telefono %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duracion programa:</strong>
    <%= anexo_plan_contratacion.duracion_programa %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Observaciones:</strong>
    <%= anexo_plan_contratacion.observaciones %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Mostrar este formato de anexo de plan de contratacion", anexo_plan_contratacion, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Editar este formato de anexo de plan de contratacion', edit_anexo_plan_contratacion_path(anexo_plan_contratacion), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
