<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @anexo_plan_contratacion %>

    <%= link_to 'Editar este formato de anexo plan de contratacion', edit_anexo_plan_contratacion_path(@anexo_plan_contratacion), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
    </div>
    <%= link_to 'Generar reporte', "/anexo_plan_contratacions/#{@anexo_plan_contratacion.id}.pdf", class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Regresar', anexo_plan_contratacions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
