<%= form_with(model: contract_supervisor, class: "contents") do |form| %>
  <% if contract_supervisor.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(contract_supervisor.errors.count, "error") %> prohibited this contract_supervisor from being saved:</h2>

      <ul>
        <% contract_supervisor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :cedula_supervisor %>
    <%= form.number_field :cedula_supervisor, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :numero_contrato %>
    <%= form.number_field :numero_contrato, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :fecha_inicio_supervicion %>
    <%= form.date_field :fecha_inicio_supervicion, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :cedula_contratista %>
    <%= form.number_field :cedula_contratista, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
