<div id="<%= dom_id program %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo diseño curricural:</strong>
    <%= program.codigo_diseño_curricural %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo programa:</strong>
    <%= program.codigo_programa %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre programa:</strong>
    <%= program.nombre_programa %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Intensidad horaria programa:</strong>
    <%= program.intensidad_horaria_programa %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this program", program, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this program', edit_program_path(program), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
