<div id="<%= dom_id contract_status %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Numero contrato:</strong>
    <%= contract_status.numero_contrato %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha del estado:</strong>
    <%= contract_status.fecha_del_estado %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Motivos contrato:</strong>
    <%= contract_status.motivos_contrato %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this contract status", contract_status, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this contract status', edit_contract_status_path(contract_status), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
