<div id="<%= dom_id curriculum_design_profile %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo diseño curricural:</strong>
    <%= curriculum_design_profile.codigo_diseño_curricural %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre perfil:</strong>
    <%= curriculum_design_profile.nombre_perfil %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tipos perfiles:</strong>
    <%= curriculum_design_profile.tipos_perfiles %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this curriculum design profile", curriculum_design_profile, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this curriculum design profile', edit_curriculum_design_profile_path(curriculum_design_profile), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
