<div id="<%= dom_id contractor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">No año:</strong>
    <%= contractor.no_año %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre contratista:</strong>
    <%= contractor.nombre_contratista %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cedula contratista:</strong>
    <%= contractor.cedula_contratista %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Objeto contrato:</strong>
    <%= contractor.objeto_contrato %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Plazo:</strong>
    <%= contractor.plazo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor forma pago:</strong>
    <%= contractor.valor_forma_pago %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Modalidad seleccion:</strong>
    <%= contractor.modalidad_seleccion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Previous study:</strong>
    <%= contractor.previous_study_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this contractor", contractor, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this contractor', edit_contractor_path(contractor), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
