<div id="<%= dom_id contractor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= contractor.nombre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apellido:</strong>
    <%= contractor.apellido %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cedula contratista:</strong>
    <%= contractor.cedula_contratista %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lugar expedicion cedula:</strong>
    <%= contractor.lugar_expedicion_cedula %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha expedicion cedula:</strong>
    <%= contractor.fecha_expedicion_cedula %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Edad:</strong>
    <%= contractor.edad %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha de nacimiento:</strong>
    <%= contractor.fecha_de_nacimiento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Municipio de recidencia:</strong>
    <%= contractor.municipio_de_recidencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sexo:</strong>
    <%= contractor.sexo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero de libreta militar:</strong>
    <%= contractor.numero_de_libreta_militar %>
  </p>

  <% if action_name != "show" %>
  <%= link_to contractor, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
  <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
  <span
    class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Mostrar
    este contratista
    <% end %>
    <%= link_to edit_contractor_path(contractor), class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span
      class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Editar
      los datos de este contratista
      <% end %>
      <hr class="mt-6">
      <% end %>
</div>
