<%= form_with(model: contractor, class: "contents") do |form| %>
<% if contractor.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
  <h2><%= pluralize(contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

  <ul>
    <% contractor.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="my-5">
  <%= form.label :nombre %>
  <%= form.text_field :nombre, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :apellido %>
  <%= form.text_field :apellido, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :cedula_contratista %>
  <%= form.number_field :cedula_contratista, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :lugar_expedicion_cedula %>
  <%= form.text_field :lugar_expedicion_cedula, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :fecha_expedicion_cedula %>
  <%= form.date_field :fecha_expedicion_cedula, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :edad %>
  <%= form.number_field :edad, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :fecha_de_nacimiento %>
  <%= form.date_field :fecha_de_nacimiento, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :municipio_de_recidencia %>
  <%= form.text_field :municipio_de_recidencia, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :sexo %><br>
  <%= form.select :sexo, ["Masculino", "Femenino" ], class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :numero_de_libreta_militar %>
  <%= form.number_field :numero_de_libreta_militar, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="inline">
  <%= form.submit "Enviar", class: "rounded-lg py-3 px-5 bg-blue-600 text-naranja inline-block font-medium cursor-pointer" %>
</div>
<% end %>
