<div class="w-full">
  <% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Contractors</h1>
    <%= link_to new_contractor_path, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span
      class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Añadir
      contratista
      <% end %>
  </div>

  <div class="mt-8 mb-8">
    <%= search_form_for @q do |f| %>
      <%= f.label :Buscar_por_numero_de_cedula %>
      <%= f.search_field :id_cont, class:"block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Buscar" %>
      <%= f.submit "Buscar" %>
    <% end %>
  </div>

  <div id="contractors" class="min-w-full">
    <%= render @contractors %>
  </div>
</div>
