<div id="<%= dom_id inclusion_annual_object_of_acquisition %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Año:</strong>
    <%= inclusion_annual_object_of_acquisition.año %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha constancia:</strong>
    <%= inclusion_annual_object_of_acquisition.fecha_constancia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Proyecto:</strong>
    <%= inclusion_annual_object_of_acquisition.proyecto %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reviso:</strong>
    <%= inclusion_annual_object_of_acquisition.reviso %>
  </p>

  <p class="my-5">
    <strong class="block front-medium mb-1">Imagen</strong>
    <%= # inclusion_annual_object_of_acquisition.image %>
    <img src="<%= (url_for(@inclusion_annual_object_of_acquisition.image)) %>">
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this inclusion annual object of acquisition", inclusion_annual_object_of_acquisition, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this inclusion annual object of acquisition', edit_inclusion_annual_object_of_acquisition_path(inclusion_annual_object_of_acquisition), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
