<div id="<%= dom_id riesgo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Descripcion operacional1:</strong>
    <%= riesgo.descripcion_operacional1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descripcion operacional2:</strong>
    <%= riesgo.descripcion_operacional2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descripcion operacional3:</strong>
    <%= riesgo.descripcion_operacional3 %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Mostrar este formato de anexo de matriz de riesgos", riesgo, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Editar este formato de anexo de matriz de riesgos', edit_riesgo_path(riesgo), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
