<div id="<%= dom_id contractor_profession %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cedula contratista:</strong>
    <%= contractor_profession.cedula_contratista %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo profesion:</strong>
    <%= contractor_profession.codigo_profesion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre profesion:</strong>
    <%= contractor_profession.nombre_profesion %>
  </p>

  <% if action_name != "show" %>
   <%= link_to contractor_profession, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Mostrar las profesiones del contratista
  <% end %>
<%= link_to edit_contractor_profession_path(contractor_profession), class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Editar las profesiones del contratista
  <% end %>
    <hr class="mt-6">
  <% end %>
</div>
