<%= form_with(model: contractor_profession, class: "contents") do |form| %>
<% if contractor_profession.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
  <h2><%= pluralize(contractor_profession.errors.count, "error") %> prohibited this contractor_profession from being
    saved:</h2>

  <ul>
    <% contractor_profession.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="my-5">
  <%= form.label :id_contratista %>
  <%= form.select :contractor_id, Contractor.ids %>
</div>

<div class="my-5">
  <%= form.label :cedula_contratista %>
  <%= form.number_field :cedula_contratista, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :codigo_profesion %>
  <%= form.text_field :codigo_profesion, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :nombre_profesion %>
  <%= form.text_field :nombre_profesion, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="inline">
  <%= form.submit "Enviar", class: "rounded-lg py-3 px-5 bg-blue-600 text-naranja inline-block font-medium cursor-pointer" %>
</div>
<% end %>
