<%= form_with(model: email, class: "contents") do |form| %>
<% if email.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
  <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

  <ul>
    <% email.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="my-5">
  <%= form.label :id_contratista %>
  <%= form.select :contractor_id, Contractor.ids %>
</div>

<div class="my-5">
  <%= form.label :cedula_de_contratistas %>
  <%= form.number_field :cedula_de_contratistas, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :correo %>
  <%= form.text_field :correo, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
  <%= form.label :activo %>
  <%= form.check_box :activo, class: "block mt-2 h-5 w-5" %>
</div>

<div class="inline">
  <%= form.submit "Enviar", class: "rounded-lg py-3 px-5 bg-blue-600 text-naranja inline-block font-medium cursor-pointer" %>
</div>
<% end %>
