<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %>
    </p>
    <% end %>

    <%= render @email %>

    <%= link_to edit_email(@email), class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span
      class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Editar
      este correo
      <% end %>
      <div class="inline-block ml-2">
        <%= button_to email_path(@email), method: :delete, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
        <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
        <span
          class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Eliminar
          este correo
          <% end %>
      </div>
      <%= link_to email_path, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
      <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
      <span
        class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Regresar
        <% end %>
  </div>
</div>
