<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "memorando_contratista" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>
  <body onload='number_pages'>

    <table align="center">
        <tr>
            <th colspan="2", id="titulo_tabla">MEMORANDO DE CONTRATACIÓN<br>CENTRO DE FORMACIÓN: COMPLEJO TECNOLÓGICO MINERO<br>AGROEMPRESARIAL</th>
        </tr>
        <tr>
            <th>Regional y Centro de Formación que realiza la solicitud:</th>
            <td>Regional Antioquia. Complejo Tecnológico Minero Agroempresarial</td>
        </tr>
        <tr>
            <th>Descripción breve de la solicitud:</th>
            <td> <%= @memorandum_contracting.previous_study.objeto %></td>
        </tr>
        <tr>
            <th>Tipo de formación o programa:</th>
            <td><%= @memorandum_contracting.tipo_formacion %></td>
        </tr>
        <tr>
            <th>Cantidad de contratos:</th>
            <td><%= @memorandum_contracting.previous_study.numero_contratos_escrito %></td>
        </tr>
        <tr>
            <th>Valor total de la contratación:</th>
            <td><%= @memorandum_contracting.previous_study.valor_forma_pago %></td>
        </tr>
        <tr>
            <th>CDP:</th>
            <td><%= @memorandum_contracting.cdp %></td>
        </tr>
        <tr>
            <td colspan="2">Se deja constancia que previo a realizar la presente solicitud el Centro de Formación revisó el cumplimiento de los requisitos legales de acuerdo con la normatividad vigente y aplicable, en concordancia con el manual de contratación vigente.</td>
        </tr>
    </table>
    <h3>_________________________________________________<br>FERNANDO CANO GÓMEZ<br>SUBDIRECTOR COMPLEJO TECNOLÓGICO MINERO AGROEMPRESARIAL</h3>
    <p>Proyectó: <%= @memorandum_contracting.proyecto %> <br>Reviso: <%= @memorandum_contracting.reviso %> <br>VoBo: <%= @memorandum_contracting.vob %></p>
  </body>
</html>
