<div id="<%= dom_id competence %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Numero competencia:</strong>
    <%= competence.numero_competencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre competencia:</strong>
    <%= competence.nombre_competencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Intencidad horaria:</strong>
    <%= competence.intencidad_horaria %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Linea transversal:</strong>
    <%= competence.linea_transversal %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this competence", competence, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this competence', edit_competence_path(competence), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
