<div id="<%= dom_id curriculum_design %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo dise単o curricural:</strong>
    <%= curriculum_design.codigo_dise単o_curricural %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre dise単o curricural:</strong>
    <%= curriculum_design.nombre_dise単o_curricural %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero registro calificado:</strong>
    <%= curriculum_design.numero_registro_calificado %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this curriculum design", curriculum_design, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this curriculum design', edit_curriculum_design_path(curriculum_design), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
