<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Contract movements</h1>
    <%= link_to 'New contract movement', new_contract_movement_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="mt-8 mb-8">
    <%= search_form_for @q do |f| %>
      <%= f.label :Buscar_por_numero_de_contrato %>
      <%= f.search_field :contract_id_cont, class:"block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Buscar" %>
      <%= f.submit "Buscar" %>
    <% end %>
  </div>

  <div id="contract_movements" class="min-w-full">
    <%= render @contract_movements %>
  </div>
</div>
